<div class="filters">
  <uib-accordion>
     <div uib-accordion-group class="panel-default" is-open="$ctrl.open">
      <uib-accordion-heading>
        Filtros 
      </uib-accordion-heading>
      <div class="row form-group" ng-repeat="column in $ctrl.columns | filter:{active: true} track by $index">
        <label for="{{column.property}}" class="col-sm-3 control-label">{{column.title}}</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="{{column.property}}" ng-model="column.filter" ng-keyup="$ctrl.filter(column.property, column.filter)">
        </div>
      </div>
    </div>
  </uib-accordion>
</div>
